/* Global Styles */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}